.rector .bcontainer .rector_conent .left_content .frame .list-view {
    width: 100%;
}

.rector_singl_form form .user_name .form_name_wrapper {
    width: 100%;
}

.respublik_global_site .bcontainer .items {
    width: 100%;
}

header .header_menu {
    padding: 45px 0;
}

header .header_menu .bcontainer a .item {
    padding-left: 105px;
}

header .header_menu .bcontainer a .item .item_name {
    font-size: 18px;
}

header .header_menu .bcontainer a .item .item_subname {
    font-size: 15px;
    font-style: normal;
}
header .header_menu .bcontainer a .item::before {
    width: 90px;
    height: 90px;
}